<div>

<h3>Toy List</h3>

<ul>
{{#each toyList}}
<li> 
<a href="/toy/{{_id}}/detail">{{name}}</a>
</li>
{{#if ../isUserAdmin}}
    <a href="/toy/{{_id}}/edit"><button>Edit Toy</button></a>
   <a href="/toy/{{_id}}/delete"><button>Delete Toy</button></a>
    {{/if}}
<img src="{{photo}}" alt="{{name}}" width="100px">
{{/each}}

</ul>

</div>