<div>

<h2>Toy List</h2>
<ul id="toy-list">

{{#each toyList}}
<li class = "toys-li">
<a href="/toy/{{_id}}/detail">{{name}}</a>
   
<img src="{{photo}}" alt="{{name}}" >
<p>{{status}}</p>

 {{#if ../isUserAdmin}}
        <a href="/toy/{{_id}}/edit"><button type="button" class="btn btn-primary btn-sm">Edit Toy</button></a>
        <br>
        <a href="/toy/{{_id}}/delete"><button type="button" class="btn btn-secondary btn-sm">Delete Toy</button></a>
    {{/if}}
</li>
{{/each}}

</ul>

</div>