<div>

{{#with eachToy}}
<h3>{{name}}</h3>
<p>{{description}}</p>
<img src="{{photo}}" alt="{{name}}">
<p>{{status}}</p>
<a href="/toy/{{_id}}/reserve"><button>Reserve it</button></a>
{{#each commentToy}}
<p>Comment written by <b>{{idUser.username}}</b></p>
<p>{{content}}</p>
{{#if ../../isUserAdmin}} 
<a href="/comment/{{_id}}/{{../_id}}/delete"><button>Delete</button></a>
{{/if}}


{{/each}}

{{/with}}

<form action="/toy/{{eachToy._id}}/detail" method="POST">

<label for="content">Comment:</label>
<br>
<textarea rows="4" cols="50"  name="content"></textarea>
<br>
<button>Send comment</button>
</form>

</div>