<div>

{{#with eachToy}}
<h2>{{name}}</h2>
<p>{{description}}</p>
<img src="{{photo}}" alt="{{name}}">
<p>{{status}}</p>
{{#if ../reserved}}
    <p>Ya tienes un juguete reservado, la siguiente reserva substituirá a la anterior</p>
{{/if}}
{{#if ../isUserActive}}
<a href="/toy/{{_id}}/reserve"><button>Reserve it</button></a>
{{/if}}

{{#each commentToy}}
<p>Comment written by <b><a href="/user/{{idUser._id}}/detail">{{idUser.username}}</a></b> {{lookup ../../objDates this._id }}</p>
<p>{{content}}</p>
{{#if ../../isUserAdmin}} 
<a href="/comment/{{_id}}/{{../_id}}/delete"><button>Delete comment</button></a>
{{/if}}


{{/each}}

{{/with}}

{{#if isUserActive}}
<form action="/toy/{{eachToy._id}}/detail" method="POST">

<label for="content">Comment:</label>
<br>
<textarea rows="4" cols="50"  name="content"></textarea>
<br>
<button>Send comment</button>
</form>
{{/if}}
</div>