<div>
{{#with eachToy}}
<h3> {{name}}</h3>
  <br>
  <div class="row">
    <div class="col-md-5">
<img src="{{photo}}" alt="{{name}}" width="500px">
    </div>
    <div class="col-md-5">
<h5>{{description}}</h5>
<br>
<br>
<h5>Status  {{status}}</h5>
<div>
<br>
<br>
{{#if ../isUserActive}}
    {{#if ../reservedButton}}
    {{#if ../reserved}}
        <p style="color: red">You already have a toy booked, booking again will replace your current booking</p>
    {{/if}}
        <a href="/toy/{{_id}}/reserve"><button class="btn btn-primary btn-sm">Reserve it</button></a>
    {{else}}
        <a href="/toy/removereservetoy/{{_id}}"><button class="btn btn-secondary btn-sm">Remove Toy</button></a>
    {{/if}}
{{/if}}
</div>
    </div>
</div>
<section>
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <div class="card-body p-4">
            <h4 class="mb-0">Comments</h4>
            <p class="fw-light mb-4 pb-2">Latest Comments by users for this Toy</p>
            {{#each commentToy}}
            <br class="my-0" />
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="{{idUser.avatar}}" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">{{idUser.username}}</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    {{lookup ../../objDates this._id }}
                  </p>
                </div>
                <p class="mb-0">
                  {{content}}
                </p>
              </div>
            </div>
            <br class="my-0" />
            {{#if ../../isUserAdmin}}
            <a href="/comment/{{this._id}}/{{idToy._id}}/delete"><button type="button" class="btn btn-secondary btn-sm">Delete Comment</button></a>
              {{/if}}
          <br class="my-0" />
            <br class="my-0" />
          <hr class="my-0" style="height: 10px;" />
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/with}} 
{{#if isUserActive}}
<section>
  <div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-left">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3"
                src="{{activeUser.avatar}}" alt="avatar" width="65"
                height="65" />
              <div class="w-100">
                <h5>Add a comment</h5>
                <form action="/toy/{{eachToy._id}}/detail" method="POST">
                <div class="form-outline">
                  <textarea class="form-control" id="textAreaExample" rows="4" name="content"></textarea>
                  <label class="form-label" for="textAreaExample">What do you think?</label>
                </div>
                <div class="d-flex justify-content-between mt-3">
                  <button class="btn btn-primary">Send</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}
</div>