<div>

{{#with eachToy}}
<h2>{{name}}</h2>
<p>{{description}}</p>
<img src="{{photo}}" alt="{{name}}">
<p>{{status}}</p>
{{#if ../isUserActive}}
    {{#if ../reserved}}
        <p>Ya tienes un juguete reservado, la siguiente reserva substituirá a la anterior</p>
    {{/if}}
    {{#if ../reservedButton}}
        <a href="/toy/{{_id}}/reserve"><button>Reserve it</button></a>
    {{else}}
        <a href="/toy/removereserve"><button>Remove Toy</button></a>
    {{/if}}
{{/if}}

{{#each commentToy}}
<p>Comment written by <b><a href="/user/{{idUser._id}}/detail">{{idUser.username}}</a></b> {{lookup ../../objDates this._id }}</p>
<p>{{content}}</p>
{{#if ../../isUserAdmin}} 
<a href="/comment/{{_id}}/{{../_id}}/delete"><button>Delete comment</button></a>
{{/if}}


{{/each}}

{{/with}}

{{#if isUserActive}}
{{!-- <div>
<form action="/toy/{{eachToy._id}}/detail" method="POST">

<label for="content">Comment:</label>
<br>
<textarea rows="4" cols="50"  name="content"></textarea>
<br>
<button>Send comment</button>
</form>

</div> --}}

 
<section>
  <div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-left">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3"
                src="{{activeUser.avatar}}" alt="avatar" width="65"
                height="65" />
              <div class="w-100">
                <h5>Add a comment</h5>
                <form action="/toy/{{eachToy._id}}/detail" method="POST">
                <div class="form-outline">
                  <textarea class="form-control" id="textAreaExample" rows="4" name="content"></textarea>
                  <label class="form-label" for="textAreaExample">What do you think?</label>
                </div>
                <div class="d-flex justify-content-between mt-3">
                  <button type="button" class="btn btn-success">Send</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{/if}}
</div>