<div>
    <h3>Users List</h3>
    <ul class="list-group list-group-flush">
    {{#each userList}}
<li class="list-group-item"><a href="/user/{{_id}}/detail"><img src="{{avatar}}" alt="{{username}}" width="25px"> {{username}}</a></li>


    {{#if ../isUserAdmin}}
    <a href="/user/{{_id}}/delete"><button>Delete User</button></a>
    {{/if}}
    {{/each}}
    </ul>
</div>